@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .btn {
        @apply shadow-md py-3 px-6 rounded-md transition duration-300
    }

    .btn-purple {
        @apply bg-bookmark-purple text-white
    }

    .btn-white {
        @apply bg-bookmark-white
    }

    .btn-red {
        @apply bg-bookmark-red
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');